<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if flash.get('error') %}
        <p class="error">{{ flash.get('error') }}</p>
    {% endif %}

    {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.username }}</p>
    {% endif %}

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</body>
</html>